@model ResultModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post" asp-action="CalculateMathExpression">
    <input type="text" placeholder="Введите выражение" name="expression"/>
    <input type="submit" value="Вычеслить"/>
</form>
<span id="response" class="mt-3">@Model?.Result</span>
